{% extends "menu.html" %}

{% block body %}
<div class="sticky">
  <h1 id="monie" class="display-4">monies: {{monies}}</h1>
</div>
{% for post in post_data|reverse %}
<div style="padding-top: 5%;" class="d-flex justify-content-center">
      <div style="width: 25%;" class="card">
        <div class="card-header">
          {{post.regName}}
        </div>
        <img class="card-img-top" 
        src="{{url_for('static', filename='img/'+post.owner+'/'+post.memeName)}}" 
        alt="{{post.memeName}}">
        <div class="card-body">
          <h5 id="{{post.memeName}}price" class="card-title">price: {{post.price}} monies</h5>
          <h5 id="{{post.memeName}}" class="card-title">copies left: {{post.totalShares}}</h5>
          <p class="card-text">{{post.owner}}</p>
          <p id="{{post.memeName}}err" class="text-danger"></p>
          <button class="btn btn-primary btn-block" onclick="handleBuy('{{post.memeName}}')">buy</button>
        </div>
      </div>
</div>
{% endfor %}
<script>
  const handleBuy = async (memeName) => {
    //alert(memeName)
    const res = await fetch('/buy/'+memeName)
    const data = await res.json()
    const post = data.postToUpdate
    console.log(post.totalShares)
    if(post.totalShares > 0){
      document.getElementById(post.memeName).innerHTML = "copies left: " + post.totalShares;
    } else {
      document.getElementById(post.memeName).innerHTML = "copies left: sold out";
    }
    if(data.message.length > 0){
      document.getElementById(post.memeName+"err").innerHTML = data.message;
    }
    if(data.monies > -1){
      document.getElementById("monie").innerHTML = "monies: " + data.monies;
    }

  }



  const changePrice = async (memeName) => {
    const res = await fetch('/changePrice')
    const data = await res.json()
    const posts = data.allPosts
    for(let post of posts) {
      document.getElementById(post.memeName+"price").innerHTML = "price: " + post.price + " monies"
    }
  }

   setInterval(() => changePrice(), 1000*60*60);

</script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
